<footer class="border-top mt-auto text-body bg-body" data-bs-theme="dark">
  <div class="container">
    <div class="row justify-content-center justify-content-md-between align-items-center mt-4">
      <div class="col-md-4 d-flex align-items-center justify-content-center justify-content-md-start">
        <!-- <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="45" height="36" fill="#adb5bd">
            <use xlink:href="#paw"></use>
          </svg>
        </a> -->
        <span class="mb-3 mb-md-0 small text-muted">All rights reserved © 2023 PawClix</span>
      </div>
      <div class="col-md-4 text-center">
        <p class="col-lg-12 mx-auto small text-center text-muted">We are grateful for any support or sponsorship that can help us unlock the full potential of our web application - <a class="text-warning fw-bold" style="text-decoration: none" href="/about/support">Support</a></p>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="d-flex flex-md-column flex-sm-row">
          <!-- <p class="mb-2 mb-md-0 small text-muted me-2 d-none d-md-block">Contacts:</p> -->
          <p class="mb-2 mb-md-0 small text-muted me-2"><i class="bi bi-envelope-fill"></i> <a class="text-muted" style="text-decoration: none" href="mailto:info@pawclix.com">info@pawclix.com</a></p>
          <p class="mb-2 mb-md-0 small text-muted me-2"><i class="bi bi-facebook"></i> <a class="text-muted" style="text-decoration: none" href="https://www.facebook.com/pawclix">PawClix</a></p>
          <p class="mb-2 mb-md-0 small text-muted"><i class="bi bi-instagram"></i> <a class="text-muted" style="text-decoration: none" href="https://www.instagram.com/pawclix">PawClix</a></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="d-flex mb-2">
          <p class="mb-2 mb-md-0 small text-muted me-2"><a class="text-muted" style="text-decoration: none; font-size: smaller" href="#">Privacy Policy</a></p>
          <p class="mb-2 mb-md-0 small text-muted me-2"><a class="text-muted" style="text-decoration: none; font-size: smaller" href="#">Terms of Service</a></p>
          <p class="mb-2 mb-md-0 small text-muted"><a class="text-muted" style="text-decoration: none; font-size: smaller" href="#">Cookie Policy</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
