<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.22.1/maps/maps.css" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.22.1/maps/maps-web.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" /> -->

    <!-- dompurify + html2canvas + jspdf for clientside pdf render -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="manifest" href="/manifest.json" />
    <!-- Web push (developing)-->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function () {
        OneSignal.init({
          appId: '3735c0a8-cefd-4761-8ace-e6d44920aadd',
        });
      });
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- add sense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8452379619823916" crossorigin="anonymous"></script>

    <title>PawClix</title>
  </head>

  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container mt-4 mb-4"><%- include('../partials/flash')%> <%- body %></main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="/javascripts/validateForms.js"></script>
    <script>
      function setTheme(theme) {
        const htmlTag = document.querySelector('html');
        htmlTag.setAttribute('data-bs-theme', theme);
      }

      function handleThemeChange(event) {
        const theme = event.target.value;
        setTheme(theme);

        // Store the theme preference in localStorage
        localStorage.setItem('theme', theme);
      }

      function checkThemePreference() {
        const theme = localStorage.getItem('theme');
        if (theme) {
          setTheme(theme);

          // Set the corresponding radio button as checked
          const radioButton = document.querySelector(`input[value="${theme}"]`);
          if (radioButton) {
            radioButton.checked = true;
          }
        }
      }

      const themeRadioButtons = document.querySelectorAll('input[name="theme"]');
      themeRadioButtons.forEach((radioButton) => {
        radioButton.addEventListener('change', handleThemeChange);
      });

      // Call checkThemePreference on page load
      checkThemePreference();
    </script>
    <!-- FOR PWA -->
    <button class="btn btn-secondary rounded-0 text-light" id="addToHomeScreenBtn">Add to Home Screen</button>

    <script>
      let deferredPrompt;

      window.addEventListener('beforeinstallprompt', (event) => {
        // Prevent the default prompt
        event.preventDefault();

        // Store the event for later use
        deferredPrompt = event;

        // Show the custom button or any other UI element to trigger the prompt
        const addToHomeScreenBtn = document.getElementById('addToHomeScreenBtn');
        addToHomeScreenBtn.style.display = 'block';

        addToHomeScreenBtn.addEventListener('click', () => {
          // Prompt the user to install the app
          deferredPrompt.prompt();

          // Wait for the user's choice
          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the install prompt');
            } else {
              console.log('User dismissed the install prompt');
            }

            // Reset the deferredPrompt variable
            deferredPrompt = null;
          });
        });
      });

      // Hide the custom button if the app is already installed
      window.addEventListener('appinstalled', () => {
        const addToHomeScreenBtn = document.getElementById('addToHomeScreenBtn');
        addToHomeScreenBtn.style.display = 'none';
      });
    </script>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-worker.js')
            .then((registration) => {
              console.log('Service Worker registered');
            })
            .catch((error) => {
              console.error('Service Worker registration failed:', error);
            });
        });
      }
    </script>

    <!-- from push webiste-->
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker
            .register('/OneSignalSDKWorker.js')
            .then(function (registration) {
              console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(function (error) {
              console.log('Service Worker registration failed:', error);
            });
        });
      }
    </script>
    <!-- <script src="/OneSignalSDKWorker.js"></script> -->
  </body>
</html>
