<% layout('layouts/boilerplate')%>

<main class="form-signin w-100 m-auto" style="max-width: 400px">
  <div class="py-3 my-2 text-center">
    <h1 class="display-5 fw-bold">
      <span class="text-warning"
        >PawPrint<span>
          <svg class="bi" width="90" height="72" fill="#adb5bd">
            <use xlink:href="#paw"></use></svg></span
      ></span>
    </h1>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5" style="text-align: justify">With our mobile-friendly app, you can quickly and easily search for missing pets in your area, no matter where you are. Try it out today and see for yourself how easy it is to find your furry friend with PawPrint.</div>

  <% if(!currentUser) { %>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button type="button" onClick="location.href='/auth/login'" class="btn btn-primary btn-lg px-4 gap-3">Log in</button>
    <button type="button" onClick="location.href='/auth/register'" class="btn btn-outline-secondary btn-lg px-4">Sign up</button>
  </div>
  <% } else if (currentUser) {%>
  <div class="d-flex justify-content-center">
    <button type="button" onClick="location.href='/pets'" class="btn btn-warning btn-lg px-4">Find a Pet</button>
  </div>
  <% } %>
</main>
