<h1>404</h1>
<div class="img-cont">
  <img src="/images/404.png" alt="" style="max-width: 500px" />
</div>
<p>The Page You Requested Could Not Be Found</p>
<a href="/pets">Go Back To Home Page</a>
<style>
  h1 {
    text-align: center;
    font-size: 8rem;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
  .img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    background-color: #fdb930;
    padding: 1rem;
    max-width: fit-content;
    border-radius: 0.5rem;
    color: black;
  }
</style>
