<% layout('layouts/boilerplate')%>
<div class="container">
 
  <div class="row">
    <div class="col-2">
  <%- include('../partials/profileTabs') %>
    </div>
    <div class="col-10">

      <h5 class="text-center mb-3">Change Your Account Settings</h5>
<div class="row row-cols-1 row-cols-md-1 g-3 justify-content-center">
  
  <!-- <div class="col-md-8">
    <label for="notificationDistance" class="form-label"
      >Maximum distance</label
    >
    <input
      type="range"
      class="form-range"
      min="0"
      max="5"
      step="0.5"
      id="notificationDistance"
    />
  </div> -->

  <!-- <div class="col-md-8">
    <input
      class="form-check-input"
      type="checkbox"
      id="receiveNotifications"
      name="receiveNotifications"
      value=""
    />
    <label class="form-check-label" for="receiveNotifications"
      >Receive push notifications</label
    >
  </div> -->

   <!-- web push -->
   <div class="col-md-8 small">
    <div class="onesignal-customlink-container"></div>
  </div>

  <div class="col-md-8">
    <input
      class="form-check-input"
      type="checkbox"
      id="receiveUpdates"
      name="receiveUpdates"
      value=""
    />
    <label class="form-check-label" for="receiveUpdates"
      >Receive updates and newsletters</label
    >
  </div>

  <div class="col-md-8 d-flex">
    <div class="form-check me-3">
      <input
        class="form-check-input"
        type="radio"
        name="theme"
        id="darkTheme"
        value="dark"
      />
      <label class="form-check-label" for="darkTheme"> Dark theme </label>
    </div>
    <div class="form-check me-3">
      <input
        class="form-check-input"
        type="radio"
        name="theme"
        id="lightTheme"
        value="light"
        checked
      />
      <label class="form-check-label" for="lightTheme"> Light theme </label>
    </div>
  </div>

  <div class="col-md-8">
    <label class="form-label" for="language"
      >Select your preferred language</label
    >
    <select class="form-select text-uppercase" id="language" >
      <% languageOptions.forEach(option => { %>
        <option value="<%= option %>" <% if (option === currentUser.language) { %>selected<% } %>><%=option%></option>
        <%}) %>
    </select>
  </div>
  <div class="col-md-8 my-5">
    <button id="updateUserSettingsBtn" type="button" class="btn btn-warning">
      Save Changes
    </button>
  </div>
</div>
</div>
</div>
</div>
<script>
  const updateAccountSettings = async (updatedData) => {
    try {
      const response = await fetch("/user/settings", {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(updatedData),
      });

      if (response.ok) {
       // const responseData = await response.json();
      //  if (responseData.success) {
          // Account updated successfully
          // Redirect or perform desired actions here
          window.location.href = "/user/settings";
      //  } else {
      //    throw new Error("Failed to update account settings");
      //  }
      } else {
        throw new Error("Failed to update account settings");
      }
    } catch (err) {
      console.error(err);
      // Handle error and display appropriate message
    }
  };

  const updateUserSettingsBtn = document.querySelector(
    "#updateUserSettingsBtn"
  );
  updateUserSettingsBtn.addEventListener("click", async () => {
    //const firstName = document.querySelector("#firstName").value;
    //const lastName = document.querySelector("#lastName").value;
    //const phoneCode = document.querySelector("#phoneCode").value;
    //const phoneNumber = document.querySelector("#phoneNumber").value;
    const language = document.querySelector("#language").value;
    console.log(language);

    const updatedData = { language };
    await updateAccountSettings(updatedData);
  });
</script>
