<p>This Cookie Policy explains how we use cookies and similar tracking technologies on our web app. By using our web app, you consent to the use of cookies and other tracking technologies as described in this policy.</p>

<h6>1. What are Cookies:</h6>
<p>Cookies are small text files that are placed on your device (computer, smartphone, or tablet) when you visit a website. They are widely used to make websites work more efficiently and enhance the user experience.</p>

<h6>2. How We Use Cookies:</h6>
<p>We use cookies and similar tracking technologies for the following purposes:</p>
<ul>
  <li>To ensure the proper functioning of our web app.</li>
  <li>To remember your preferences and personalize your experience.</li>
  <li>To analyze how users interact with our web app and improve its performance.</li>
  <li>To serve targeted advertisements based on your browsing behavior.</li>
  <li>To provide social media features and integrate third-party services.</li>
</ul>

<h6>3. Third-Party Cookies:</h6>
<p>We may also allow third-party service providers to place cookies on your device for the purposes outlined above. These third-party cookies are subject to the respective privacy policies of the providers and not this Cookie Policy.</p>

<h6>4. Cookie Control:</h6>
<p>You have the right to control whether to accept or reject cookies. Most web browsers automatically accept cookies, but you can modify your browser settings to decline cookies if you prefer. However, please note that blocking cookies may impact the functionality and user experience of our web app.</p>

<h6>5. Changes to the Cookie Policy:</h6>
<p>We reserve the right to modify or update this Cookie Policy at any time without prior notice. Any changes to this Cookie Policy will be posted on this page. By continuing to use our web app after any modifications, you accept the updated Cookie Policy.</p>

<h6>6. Contact Us:</h6>
<p>If you have any questions or concerns regarding this Cookie Policy, please contact us at info@pawclix.com.</p>
