<p>
  This End-User License Agreement (EULA) is a legal agreement between you and
  [your company] regarding your use of our web app. By accessing or using our
  web app, you agree to be bound by the terms of this EULA.
</p>

<h6>1. Grant of License:</h6>
<ul>
  <li>
    [Your company] grants you a non-exclusive, non-transferable license to use
    our web app for personal or internal business purposes, subject to the terms
    and conditions of this EULA.
  </li>
  <li>
    You may not sublicense, distribute, or transfer any rights or access to our
    web app without prior written permission from [your company].
  </li>
</ul>

<h6>2. Restrictions on Use:</h6>
<ul>
  <li>
    You agree not to modify, reverse engineer, decompile, or disassemble our web
    app, or attempt to gain unauthorized access to any parts of our web app.
  </li>
  <li>You may not use our web app for any illegal or unauthorized purposes.</li>
  <li>
    You may not remove or modify any copyright, trademark, or other proprietary
    notices from our web app.
  </li>
</ul>

<h6>3. Intellectual Property:</h6>
<ul>
  <li>
    All intellectual property rights, including copyrights, trademarks, and
    logos, related to our web app are owned by [your company] or its licensors.
  </li>
  <li>
    This EULA does not grant you any right or license to use the trademarks,
    logos, or other proprietary rights of [your company] or its licensors.
  </li>
</ul>

<h6>4. Limitation of Liability:</h6>
<ul>
  <li>
    Our web app is provided on an "as is" basis, and [your company] disclaims
    all warranties, express or implied, including but not limited to warranties
    of merchantability, fitness for a particular purpose, and non-infringement.
  </li>
  <li>
    [Your company] shall not be liable for any direct, indirect, incidental, or
    consequential damages arising out of or in connection with the use or
    inability to use our web app.
  </li>
</ul>

<h6>5. Termination:</h6>
<ul>
  <li>
    [Your company] may terminate this EULA at any time if you fail to comply
    with its terms and conditions.
  </li>
  <li>
    Upon termination, you must cease all use of our web app and destroy any
    copies of our web app in your possession.
  </li>
</ul>

<h6>6. Governing Law:</h6>
<ul>
  <li>
    This EULA is governed by and construed in accordance with the laws of [your
    jurisdiction].
  </li>
  <li>
    Any disputes arising from this EULA will be subject to the exclusive
    jurisdiction of the courts in [your jurisdiction].
  </li>
</ul>

<h6>7. Entire Agreement:</h6>
<ul>
  <li>
    This EULA constitutes the entire agreement between you and [your company]
    regarding your use of our web app and supersedes any prior or
    contemporaneous agreements, communications, or representations, whether oral
    or written, relating to the subject matter of this EULA.
  </li>
</ul>

<h6>8. Contact Us:</h6>
<ul>
  <li>
    If you have any questions or concerns regarding this EULA, please contact us
    at [provide contact information].
  </li>
</ul>
