<p>This Privacy Policy explains how we collect, use, and protect the personal information of users of our web app dedicated to reuniting lost and found pets and facilitating pet-related services. We are committed to ensuring the privacy and security of your personal information.</p>

<h6>1. Information We Collect:</h6>
<ul>
  <li>When you register or use our web app, we may collect personal information such as your name, email address, and contact information.</li>
  <li>If you choose to post or browse pet-related services on our web app, we may collect additional information related to the services you offer or seek.</li>
</ul>

<h6>2. Use of Personal Information:</h6>
<ul>
  <li>We use the personal information you provide to operate, improve, and personalize our web app, including its features and functionalities.</li>
  <li>Your personal information may be used to facilitate lost and found pet reunions by connecting owners with their lost pets or helping individuals find and adopt pets in need.</li>
  <li>We may use your information to communicate with you, respond to your inquiries, and provide customer support related to our web app.</li>
</ul>

<h6>3. Data Security:</h6>
<ul>
  <li>We take reasonable precautions to protect your personal information from unauthorized access, misuse, or alteration.</li>
  <li>We implement security measures and protocols to maintain the confidentiality and integrity of your personal information.</li>
</ul>

<h6>4. Use of Cookies:</h6>
<ul>
  <li>We may use cookies or similar technologies to enhance the user experience and track usage patterns on our web app.</li>
  <li>You have the option to disable cookies through your web browser settings, but this may affect certain features and functionality of our web app.</li>
</ul>

<h6>5. User Control:</h6>
<ul>
  <li>You have the right to access, update, or delete your personal information stored in our system. Please contact us through the provided contact information below to make any changes.</li>
  <li>If you no longer wish to receive communications from us, you can unsubscribe or opt-out by following the instructions provided in our emails.</li>
</ul>

<h6>6. Compliance with Applicable Laws:</h6>
<ul>
  <li>We comply with applicable data protection laws and regulations, including the General Data Protection Regulation (GDPR), to the extent it applies to the personal information we collect.</li>
</ul>

<h6>7. Changes to the Privacy Policy:</h6>
<ul>
  <li>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the revised version will be effective as of the date of posting.</li>
</ul>

<h6>8. Contact Us:</h6>
<ul>
  <li>If you have any questions, concerns, or requests regarding your personal information or this Privacy Policy, please contact us at info@pawclix.com.</li>
</ul>
