<% layout('layouts/boilerplate')%>
<h1 class="text-center mb-4">Support</h1>
<div class="container my-5">
  <div class="text-center">
    <!-- <img src="/images/paw.png" class="bi mt-2 mb-2" width="auto" height="50px" /> -->
    <p class="col-lg-12 mx-auto fs-5 text-muted custom-about-text">We are grateful for any support or sponsorship that can help us unlock the full potential of our web application. If you share our vision and would like to contribute towards the cost of utilizing premium tiers and services, please reach out to us. Your support will enable us to enhance our app and provide an even better experience for our users.</p>

    <a class="btn btn-warning btn-lg fw-bold" href="https://www.paypal.com/donate/?hosted_button_id=7WJJTEM6TM84N">Donate</a>
  </div>
</div>
<div class="container px-4 py-5">
  <h2 class="text-center pb-2">Our Technology Stack</h2>
  <p class="col-lg-12 mx-auto fs-5 text-muted custom-about-text">We appreciate any help or collaboration from developers who share our passion for building amazing web applications. If you're interested in contributing, please don't hesitate to reach out. Together, we can create something incredible!</p>
  <div class="row row-cols-1 row-cols-md- align-items-md-center g-5 py-5">
    <!-- <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Our Technology Stack</h2>
      <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="btn btn-primary btn-lg">Primary button</a>
    </div> -->

    <!-- <div class="col"> -->
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/expressjslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://expressjs.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">Express.js - Fast and Minimalist Web Application Framework</h4></a>
        <p class="text-body-secondary custom-about-text">Express.js is a popular Node.js web application framework that provides a fast and minimalist approach to building web applications. It simplifies the development of server-side applications and APIs with its robust features and modular architecture.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/tomtomlogo.png" width="auto" height="50px" />
        </div>
        <a href="https://expressjs.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">TomTom Maps - Powerful Geolocation and Mapping Services</h4></a>
        <p class="text-body-secondary custom-about-text">TomTom Maps offers powerful geolocation and mapping services that enable you to integrate interactive maps, geocoding, routing, and geospatial analysis into your web applications. It provides accurate and up-to-date map data and a comprehensive set of APIs for location-based services.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/nodejslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://nodejs.org/en" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">Node.js - Scalable and Efficient JavaScript Runtime</h4></a>
        <p class="text-body-secondary custom-about-text">Node.js is a server-side JavaScript runtime environment that allows you to build scalable and efficient web applications. It uses an event-driven, non-blocking I/O model, making it ideal for developing real-time applications, microservices, and APIs.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/monggodblogo.png" width="auto" height="50px" />
        </div>
        <a href="https://www.mongodb.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">MongoDB - Flexible and Scalable NoSQL Database</h4></a>
        <p class="text-body-secondary custom-about-text">MongoDB is a flexible and scalable NoSQL database that provides high performance, high availability, and horizontal scalability. It offers a document-oriented data model, allowing you to store, retrieve, and manipulate data easily, making it well-suited for modern web applications.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/cloudinarylogo.png" width="auto" height="50px" />
        </div>
        <a href="https://cloudinary.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">Cloudinary - Media Management and Delivery Platform</h4></a>
        <p class="text-body-secondary custom-about-text">Cloudinary is a comprehensive media management and delivery platform that simplifies the process of storing, optimizing, and delivering images and videos for web applications. It provides powerful APIs and tools for image and video manipulation, transformation, and optimization.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/ejslogo.png" width="auto" height="50px" />
        </div>
        <a href="https://ejs.co/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">EJS - Embedded JavaScript Templating Engine</h4></a>
        <p class="text-body-secondary custom-about-text">EJS is a popular templating engine that allows you to generate dynamic HTML pages by embedding JavaScript code within your templates. It provides a simple and intuitive syntax for data interpolation, conditionals, loops, and partials, making it easy to create reusable and maintainable views for your web applications.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/bootstraplogo.png" width="auto" height="50px" />
        </div>
        <a href="https://getbootstrap.com/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">Bootstrap - Responsive CSS Framework</h4></a>
        <p class="text-body-secondary custom-about-text">Bootstrap is a widely-used responsive CSS framework that provides a collection of pre-built components and styles to help you quickly and efficiently create modern, mobile-friendly web interfaces. With Bootstrap, you can easily customize and arrange components to create visually appealing and consistent layouts for your web projects.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
          <img class="bi" src="/images/techologystack/cycliclogo.png" width="auto" height="50px" />
        </div>
        <a href="https://www.cyclic.sh/" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">Cyclic - Serverless Cloud Hosting</h4></a>
        <p class="text-body-secondary custom-about-text">Cyclic is a serverless cloud hosting platform designed to streamline your app deployment process. Enjoy instant app availability, efficient resource allocation, and seamless scalability. Benefit from cloud-scale database and storage options, global app deployment for reduced latency, and the flexibility to customize and integrate your apps. Simplify your deployment workflow with built-in CI/CD integration and GitHub support.</p>
      </div>

      <!-- curently sendgrid is not used, but its more powerfull then nodemailer -->
      <!-- <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center">
            <img class="bi" src="/images/sendgridlogo.png" width="auto" height="50px" />
          </div>
           <a href="#" target="_blank"><h4 class="fw-semibold mb-0 text-body-emphasis">SendGrid - Email Delivery and Management Service</h4></a>
          <p class="text-body-secondary custom-about-text">
            SendGrid is a powerful email delivery and management service that enables you to reliably send emails, track their delivery, and manage your email campaigns. With SendGrid's robust API and intuitive interface, you can easily integrate email functionality into your applications and ensure high deliverability rates. Whether it's transactional emails, marketing campaigns, or automated notifications, SendGrid provides the tools you need to effectively communicate with your users.
          </p>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<!-- <p>
  PayPal Donations: PayPal offers a donation feature that allows you to create a donation button or link on your website. Users can securely donate funds using their PayPal account or credit/debit card. Stripe Payments: Stripe provides a payment processing platform that allows you to accept donations directly on your website. It offers a flexible API that you can integrate into your web app to handle donation transactions securely. Donorbox: Donorbox is a dedicated donation platform that enables nonprofits and
  individuals to collect donations online. It provides customizable donation forms, recurring donation options, and integration with popular payment gateways. GoFundMe: GoFundMe is a popular crowdfunding platform where individuals and organizations can create fundraising campaigns. You can create a campaign specifically for your web app's development and share it with your audience to encourage donations. Patreon: Patreon is a membership platform that allows creators to receive recurring payments from their fans
  and supporters. If you're providing valuable content or additional benefits to your users, you can set up a Patreon page and offer different membership tiers that include donation options. Ko-fi: Ko-fi is a platform that enables creators to receive one-time "coffee" donations from their audience. It's a simple and user-friendly way to accept small donations as a form of support
</p> -->
